.calculator{
    padding: 40px;
    height: 100%;
    background: #F8FCFE;
}
.calc-form{
    font-family: "Avenir";
    width: 740px;
    padding: 40px;
    background: white;  
    font-weight: 500;

}
.calc-item-heading{
    font-size: 24px;
    color: var(--orange);
    margin-bottom: 30px;
}

.position-item-container{
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.position-item-text{
    font-family: "Avenir";
    margin-right: 10px;
    color: var(--font);
    font-weight: 600;
}
.counter-btn-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.counter-input{
    font-family: "Avenir";
    font-weight: 600;
    font-size: 16px;
    color: var(--font);
    width: 40px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid var(--border);
    outline: none;
    text-align: center;
    pointer-events: none;
    margin: 0 10px
}
.counter-btn{
    border-radius: 50px;
    width: 25px;
    height: 25px;
    padding: 0;
    background: var(--border);
}
.counter-btn:hover{
    background: rgb(165, 165, 165);
}
.counter-minus-btn::after{
    content: "-";
    font-size: 29px;
    font-weight: bold;
    line-height: 20px;
}
.counter-plus-btn::after{
    content: "+";
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}
.calc-label{
    font-family: "Avenir";
    font-size: 12px;
    color: var(--font);
    margin-bottom: 20px;
}
.position-bar{
    width: 300px;
    height: 100px;
    background: green;
}
.bar-container{ 
    border-bottom: 1px solid var(--border);
    margin-bottom: 30px;
    position: relative;
}

.calc-container{
    display: flex;
}
#report{
    margin-left: 15px;
    text-align: center;
}
.report-container{
    font-family: 'Avenir';
    min-height: 150px;
    background: white;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
    position: relative;
    width: 500px;
}
.report-header{
    background: var(--header);
    height: 60px;
    position: relative;
}
.report-header-title{
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 20px;
}
.report-total-container{
    height: 60px;
    bottom: 0;
    width: 100%;
}
.report-total-title{
    color:#58657D;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 32px;
}
.report-total-value{
    color: var(--orange);
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    right: 32px;
}
.report-table{
    margin: 25px 30px 50px 30px;
    width: -webkit-fill-available;
    font-family: 'Avenir';
}
.report-table tbody{
    line-height: 34px;
    color: var(--font);
    font-weight: 600;
}
.report-table tbody:before {
    content: "-";
    display: block;
    line-height: 10px;
    color: transparent;
}
.report-table tr{
    padding: 10px 0;
    font-family: 'Avenir'
}
.report-table th{
    font-size: 12px;
    text-align: right;
    font-family: 'Avenir';
    color: var(--font)

}
.report-table th:nth-child(1){
    text-align: left
}
.report-table th:nth-child(2){
    text-align: left
}
.report-table tbody td{
    text-align: right;
} 
.report-table tbody td:nth-child(1){
    text-align: left;
} 
.report-table tbody td:nth-child(2){
    text-align: left;
} 

.report-pdf-btn{
    margin-top: 20px;
    width: 250px;
    height: 40px;
}
.selects-container{
    display: flex;
    position: absolute;
    left: 230px;
}
.fake-btn{
    background: var(--gradient);
    color: white;
    padding: 5px 30px;
    border-radius: 4px;
}
.report-modal{
    text-align: center;
}
.research-modal{
    text-align: center;
}
.rep-btns{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.rep-btns button{
    width: 100%;
    height: 40px;
}
.success-modal{
     text-align: center;
     margin-top: 23px;
}
.calc-model-label{
    color: var(--font);
    font-size: 20px;
    font-weight: 800;
}
.counter-btn:hover{
    background: var(--orange);
    box-shadow: none;
}
.fee-discount{
    position: absolute;
    bottom: 12px;
    right: 30px;
    color: #bbbbbb;
}


@media screen and (max-width: 1320px){
    .report-container{
        max-width: 500px;
        width: unset !important;
    }
    .report-table tbody{
        line-height: 16px;
    }
}

@media screen and (max-width: 1180px){
    .calculator, .wr-calc{
        padding: 10px !important;
    }
}

