.modal-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
}
.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FFF;
    min-height: 200px;
    width: 500px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
}
.modal-body{
    margin: 50px;
    font-family: "Avenir"
}
.modal-title{
    font-size: 24px;
    font-weight: 600;
    color: var(--font);
}
.modal-desc{
    color: #58657D;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    font-weight: 400;
}
.modal-input{
    display: block;
    margin: auto;
    width: 380px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid var(--border);
    padding-left: 15px;
    font-family: inherit;
    outline: none;
    color: var(--font);
    margin-top: 20px;
}
.modal-cancel-btn{
    background: white;
    color: var(--orange);
    border: 1px solid var(--orange);
    margin-right: 20px;
}
.close-btn {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
}

.close-btn:before, .close-btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    border: 1px solid black;
}

.close-btn:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
@media screen and (max-width: 530px){
.modal-window{
    width: 90%;
}
}