.glide__bullet{
    background: var(--border) !important;
}
.glide__bullet--active{
    background: var(--gradient) !important;
}
.glide__bullets{
    position: initial !important;
    margin-top: 30px;
    cursor: default;
}
.glide__bullet{
    border: none !important;
    box-shadow: none !important;
}
.glide{
    text-align: center;
}
.glide__arrow{
    height: 30px;
    background-size: 16px;
    background-repeat: no-repeat;
    box-shadow: none !important;
}
.glide__arrow--left{
    background-image: url('../assets/img/arrow-left.svg')
}
.glide__arrow--right{
    background-image: url('../assets/img/arrow-right.svg')
}