.glide__bullet{
    background: var(--border) !important;
}
.glide__bullet--active{
    background: var(--gradient) !important;
}
.glide__bullets{
    position: initial !important;
    margin-top: 30px;
    cursor: default;
}
.glide__bullet{
    border: none !important;
    box-shadow: none !important;
}
.glide{
    text-align: center;
}
.glide__arrow{
    height: 30px;
    background-size: 16px;
    background-repeat: no-repeat;
    box-shadow: none !important;
}
.glide__arrow--left{
    background-image: url('../assets/img/arrow-left.svg')
}
.glide__arrow--right{
    background-image: url('../assets/img/arrow-right.svg')
}
.glide__bullets{
    left: 0% !important;
    transform: translateX(-0%) !important;
}
@media screen and (max-width: 650px){
    .glide__arrow--left{
        display: none !important;
    }
    .glide__arrow--right{
        display: none !important;
    }
    
}
@media screen and (max-width: 1000px){
    .test-desc{
        max-width: 500px !important;
    }
   
}
@media screen and (max-width: 750px){
    .test-desc{
        max-width: 400px !important;
    }
   
}