@charset "UTF-8";
@import "reset.css";
@import "avenir.css";
@import "calc.css";
@import "checkbox.css";
@import "slider.css";

:root {
    --gradient: linear-gradient(90deg, #F27931 0%, #F27931 0.01%, #F2A135 110.55%);
    --font: #2B3D5C;
    --orange: #F27931;
    --border: #E6E8EA;
  }
.orange{
    color:  #F27931;
}
body{
    font-family: "Avenir" sans-serif;
}
a{
    color: var(--font);
    /* margin: 9px 0 -15px 0; */
    display: block;
    font-weight: 800;
    font-size: 14px;
    line-height: 24px;
    outline: none;
}
h2{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: var(--font);  
    margin-bottom: 40px;
    font-weight: 800;
}
button{
    font-family: "Avenir";
    font-size: 14px;
    /* width: 138px; */
    height: 32px;
    padding: 0 20px;
    border-radius: 4px;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    background: var(--gradient);
    font-weight: 500;
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    margin: auto;
}
.wr{
    max-width: 1440px;
    height: 100%;
    padding: 60px;
    margin: auto;
}
.header{
    /* position: relative; */
    width: 100%;
    height: 100%;
}
.header-line{
    margin-top: -39px;
}
.header-logo{
    background: url('../assets/img/logo.svg') no-repeat;
    height: 25px;
    width: 92px;
    background-size: 74px;
    /* position: absolute; */
    left: 80px;
    display: inline-block;
    vertical-align: middle;
}
.header-menu{
    /* height: 84px; */
    font-family: "Avenir";
    font-size: 14px;
    /* position: absolute; */
    /* right: 40px; */
    display: flex;
    align-items: center;
    float: right;
    font-weight: 500;

}
.header-menu-items{
    width: 340px;
    margin-right: 40px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header-menu-item{
    cursor: pointer;
    position: relative;
    height: 100%;
}

.header-menu-item:focus-within{
    font-weight: bold;
}
.header-menu-item:focus-within::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 45px;
    height: 4px;
    width: 100%;
    background: var(--gradient);
}
.header-title{
    font-family: 'Avenir', serif;
    font-size: 46px;
    font-weight: bold;
    color: var(--orange);
    text-align: center;
    font-weight: 500;

}
.header-main{
    padding: 176px 0;
    width: 100%;
    background: rgba(43, 61, 92, 0.8) url("../assets/img/main-pic.jpg") no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    max-height: 576px;
    margin-top: -44px;

}
.header-description{
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 50px 0;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;

}
#calc-button{
    margin: 0 auto;
    display: flex;
}
.about-us{
    padding: 120px 0;
}
.key-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 120px;
    
}
.key-item{
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.key-item-heading{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    color: var(--font);
    font-weight: 800;

}
.key-item-text{
    font-family: "Avenir";
    line-height: 21px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #58657D;
    max-width: 230px;
}
.about-us-wr{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    flex-wrap: wrap-reverse;
}
.about-us-image{
    /* display: inline-block; */
    background: url('../assets/img/about-us-pic.jpg') no-repeat;
    background-size:  cover;
    /* min-width: 400px; */
    height: 100%;
    width: 50%;
    min-height: 316px;
    border-radius: 8px;
    margin-top: 5px;
}
.about-us-main{
    width: 50%;
    min-width: 300px;
    box-sizing: border-box;
    padding-left: 40px;
}
.about-us-heading{
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    color: var(--font);
}
.about-us-text{
    max-width: 495px;
    font-family: "Avenir";
    color: var(--font);
    line-height: 27px;

}
.calculator{
    padding: 40px;
    height: 800px;
    background: #F8FCFE;
}
.calc-form{
    font-family: "Avenir";
    width: 740px;
    padding: 40px;
    background: white;  
    font-weight: 500;
}
.service-wr{
    font-family: "Avenir";
    max-width: 632px;
    min-height: 304px;
    width: 100%;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 60px;
}
.table{

    width:50%;
    box-sizing: border-box;
    display: inline-block
}
.table-heading{
    background: #041E30;
    height: 64px;
    padding: 0px 32px;
    font-size: 16px;
    line-height: 64px;
    color: white;
}
.table-item{
    list-style-type: disc; 
    padding: 0 28px;
    list-style-position: inside;
    height: 48px;
    color: var(--orange);
    line-height: 48px;
    font-size: 28px;
    border: 1px solid #E6E8EA;
    border-bottom: none;
    
}
.table-item:last-child{
    border-bottom: 1px solid #E6E8EA;
}
.table-text{

font-size: 14px;

color: var(--font);

/* margin-top: 23px; */

position: relative;

top: -3px;

left: -14px;
}
.tab{
    cursor: pointer;
}
.table-right>li{
    border-left:none;

}
.table-right{
    float: right;

}
.table-right>li:nth-child(n+4){
    list-style: none;
}
.table-tab-wr{
    display: none;
}
.table-tab-right>li:nth-child(n+4){
    list-style: none;
}
.table-tab{
    width: 100%;
}
.office{
    background: rgba(79, 170, 233, 0.04);
    height: 700px;
}
.reviews{
    height: 600px;
}
.contact-form{
    width: 50%;
    min-width: 400px;
    display: inline-block;
}
.contact-form-heading{
    font-family: "Avenir";
    font-weight: 600;
    font-size: 24px;
    color: var(--font);
    margin-bottom: 16px;
}
.contact-form-input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #E6E8EA;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 32px;
    padding: 15px;
}
.contact-form-input-longer{
    min-height: 120px;
    padding: 0 15px 78px 15px;
}
.contact-form-input::placeholder{
    font-size: 14px;
    color: #58657D;
    vertical-align: top;


}
.contact-form-button{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 48px;
    margin-top: -20px;
    /* text-align: center; */
    justify-content: center;
}
/* плавное изменение прозрачности  placeholder-а при фокусе */
.contact-form-input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.contact-form-input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.contact-form-input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.contact-form-input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.contact-form-input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.contacts-all-wr{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: baseline;
    align-items: flex-end;
}
.contact-wr{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.contact-cards-wr{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-card{
    font-family: "Avenir";
    width: 308px;
    height: 156px;
    background:  #F6FBFE;
    margin: 10px;
    text-align: center;
    color: var(--font);
    /* padding: 137px 0 0px 0; */
}
.contact-city{
    font-size: 16px;
    line-height: 24px;
    margin-top: 44px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}
.contact-phone{
    color: var(--font);
    margin: 9px 0 -15px 0;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.contact-name{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #58657D;
}
.contact-us-button{
    width: 200px;
    height: 48px;
}
footer{
    font-family: 'Avenir';
    background: #041E30;
}
.footer-line{
    background: #6D7C87;
    height: 1px;
    width: 100%;
    margin: 20px 0;
}
.footer-logo{
    filter: brightness(9);

}
.footer-nav{
    display: inline-block;

}
.footer-nav-item{
    float: right;
    margin-right: 20px;
}
.footer-nav-item:first-child{
    margin-right: 0px;
}
.footer-bottom{
    height: 24px;
}
.footer-link{

    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-link:hover{
    color: var(--orange);
}
.footer-rights{
    float: right;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer-ul{
    display: inline-block;
}
.footer-li{
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 20px; 

}
.footer-icon{
    width: 24px;
    height: 24px;

}
.footer-icons{
    float: right;
    height:  24px;
}
.footer-title{
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 24px;
    vertical-align: top;
}
.inst{
    background: url('../assets/img/inst.svg')
}
.fb{
    background: url('../assets/img/fb.svg')
}
.clutch{
    background: url('../assets/img/clutch.svg')
}
.office-pic{
    width: 400px;
    height: 300px;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.office-pic-1{
    background: url('../assets/img/office1.png')
}
.office-pic-2{
    background: url('../assets/img/office2.png')
}
.office-pic-3{
    background: url('../assets/img/office3.png')
}

@media screen and (max-width: 715px){

    .footer-rights{
        float: none;
        text-align: center;
        margin-top: 9px;
    }
    .footer-bottom{
        text-align: center;
    }
    .footer-link{
        font-size: 12px;
    }
    .footer-title{
        display: none;
    }
}
@media screen and (max-width: 940px){
    .about-us-main{
        width: 100%;
        padding: 0;
        margin-bottom: 30px
    }
    .about-us-image{
        width: 100%;
    }
    .about-us-text{
        max-width: 100%;
    }
}
 @media screen and (max-width: 690px){
     .table{
         display: none;
     }
     .table-tab-wr{
         display: block;
     }
 }